@font-face {
  font-family: 'antonioregular';
  src: url('../fonts/antonio/antonio-regular-webfont.eot');
  src: url('../fonts/antonio/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/antonio/antonio-regular-webfont.woff') format('woff'),
        url('../fonts/antonio/antonio-regular-webfont.ttf') format('truetype'),
        url('../fonts/antonio/antonio-regular-webfont.svg#antonioregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular.eot');
  src: url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular.woff') format('woff'),
        url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/montserrat/montserrat_regular_macroman/Montserrat-Regular.svg#montserrat') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  color: #a10000;
}

a:hover {
  color: #a10000;
}
section {
  padding-top: 1px;
  padding-bottom: 1px;
}
.container {
  max-width: 1000px;
}
h1,
h2,
h3,
.navbar-default .navbar-nav > li > a {
  font-family: 'antonioregular';
  color: #A71010;
  font-weight: normal;
}

/* Remove bootstrap's navbar css */
.navbar {
  border: 0;
  background-color: #fff;
  border-color: #fff;
}

ul.secondary {
  border-bottom: 0;
  background-color: #f8f8f8;
  border-radius: 4px;
}

ul.secondary li.last {
  border: 0;
}

/* EFF Header */
#top-eff-header {
  font-size: 16px;
  font-family: antonioregular;
  text-transform: uppercase;
}
#top-eff-header a {
  color: #d5e0e0;
}

/* Site logo display */
#top-logo {
  text-align: center;
}

#top-logo-inner {
  max-width: 350px;
  margin: auto;
}

#top-logo img {
  margin: auto;
}

.container-main {
  background: #d5e0e0;
}

.slogan {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: antonioregular;
  margin-top: 20px;
}

.flexslider {
  /*margin-left: -20px;*/
}

.playlist-button:hover {
  background: #dddddd;
}

#playlist-controller {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 600;
  background: #5D7272;
  padding: 20px;
  border-radius: 20px;
}
#playlist-controller #playlist-table {

}

.module-section:nth-child(even) {
  background-color: #fff;
}
.page-header {
  margin-top: 20px;
}
.container,
body.page-node .page-header,
body.page-node .tabs--primary {
  /*max-width: 1000px;
  width: 1170px; */
  margin-left: auto;
  margin-right: auto;
  padding: 1px 15px;
}
body.page-node .page-header {
  border-bottom: none;
}
ul.secondary,
ul.secondary li {
  padding: 0;
  margin:0;
}
ul.secondary li a {
  padding: 8px 10px 5px;
  margin: 0;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
}
@media (min-width: 768px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
}
