@font-face {
  font-family: 'antonioregular';
  src: url("../fonts/antonio/antonio-regular-webfont.eot");
  src: url("../fonts/antonio/antonio-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/antonio/antonio-regular-webfont.woff") format("woff"), url("../fonts/antonio/antonio-regular-webfont.ttf") format("truetype"), url("../fonts/antonio/antonio-regular-webfont.svg#antonioregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 36, ../sass/style.scss */
body {
  font-family: "montserratregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/* line 41, ../sass/style.scss */
a {
  color: #a10000;
}

/* line 45, ../sass/style.scss */
a:hover {
  color: #a10000;
}

/* line 48, ../sass/style.scss */
section {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 52, ../sass/style.scss */
.container {
  max-width: 1000px;
}

/* line 58, ../sass/style.scss */
h1,
h2,
h3,
.navbar-default .navbar-nav > li > a {
  font-family: 'montserratbold';
  color: #A71010;
  font-weight: normal;
}

/* Remove bootstrap's navbar css */
/* line 65, ../sass/style.scss */
.navbar {
  border: 0;
  background-color: #fff;
  border-color: #fff;
}

/* line 71, ../sass/style.scss */
ul.secondary {
  border-bottom: 0;
  background-color: transparent;
  border-radius: 4px;
}

/* line 76, ../sass/style.scss */
#navbar ul.secondary li {
  margin-left: 10px;
  display: block;
}

/* line 80, ../sass/style.scss */
ul.secondary li.last {
  border: 0;
}

/* EFF Header */
/* line 85, ../sass/style.scss */
#top-eff-header {
  font-size: 12px;
  font-family: antonioregular;
  text-transform: uppercase;
  margin-top: 10px;
  display: block;
  float: left;
}

/* line 93, ../sass/style.scss */
#top-eff-header a {
  color: #d5e0e0;
}

/* line 96, ../sass/style.scss */
#top-eff-header img {
  margin-right: 5px;
}

/* line 99, ../sass/style.scss */
#top-eff-header img {
  width: 30px;
  height: auto;
}

/* Site logo display */
/* line 105, ../sass/style.scss */
#top-logo {
  text-align: center;
}

/* line 109, ../sass/style.scss */
#top-logo-inner {
  max-width: 350px;
  margin: auto;
}

/* line 114, ../sass/style.scss */
#top-logo img {
  margin: auto;
}

/* line 118, ../sass/style.scss */
.container-main {
  background: #fff;
}

/* line 122, ../sass/style.scss */
.slogan {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: montserratbold;
  margin-top: 20px;
}

/* line 130, ../sass/style.scss */
.flexslider {
  /*margin-left: -20px;*/
}

/* line 134, ../sass/style.scss */
.playlist-button:hover {
  background: #dddddd;
}

/* line 138, ../sass/style.scss */
#playlist-controller {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 600;
  background: #5D7272;
  padding: 20px;
  border-radius: 20px;
}

/* line 151, ../sass/style.scss */
.module-section:nth-child(even) {
  background-color: #d5e0e0;
}

/* line 154, ../sass/style.scss */
.page-header {
  margin-top: 20px;
  text-align: center;
}

/* line 159, ../sass/style.scss */
body.page-node .page-header,
body.page-node .tabs--primary {
  max-width: 1000px;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 15px;
}

/* line 166, ../sass/style.scss */
body.page-node .page-header {
  border-bottom: none;
}

/* line 169, ../sass/style.scss */
ul.navbar-nav {
  font-size: 20px;
  margin-top: 20px;
}

/* line 174, ../sass/style.scss */
ul.navbar-nav > li,
ul.secondary {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 179, ../sass/style.scss */
ul.navbar-nav > li > a {
  padding: 10px 10px 6px;
}

/* line 182, ../sass/style.scss */
ul.secondary li a {
  padding: 8px 10px 5px;
  margin: 0;
  font-size: 14px;
}

/* line 189, ../sass/style.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

/* line 192, ../sass/style.scss */
.nav-tabs {
  border-bottom: 0;
}

@media (min-width: 768px) {
  /* line 196, ../sass/style.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 199, ../sass/style.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 202, ../sass/style.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  /* line 205, ../sass/style.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 208, ../sass/style.scss */
  ul.navbar-nav {
    float: none;
  }
}
