@import "bootstrap-custom";

@font-face {
  font-family: 'antonioregular';
  src: url('../fonts/antonio/antonio-regular-webfont.eot');
  src: url('../fonts/antonio/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/antonio/antonio-regular-webfont.woff') format('woff'),
        url('../fonts/antonio/antonio-regular-webfont.ttf') format('truetype'),
        url('../fonts/antonio/antonio-regular-webfont.svg#antonioregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,
body{
  margin:0;
  padding:0;
  height:100%;
}
.page-wrapper {
  height: 100%;
}
body {
  font-family: "montserratregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  min-height: 100%;
  background-color: #fff;
}

a {
  color: #a10000;
}

a:hover {
  color: #a10000;
}
section {
  padding-top: 1px;
  padding-bottom: 1px;
}
.container {
  max-width: 1000px;
}
h1,
h2,
h3 {
  font-family: 'montserratbold';
  color: #A71010;
  font-weight: normal;
}
h1,
h2 {
  text-align: center;
}

#navbar {
  background-color: #ADBBBC;
  min-height: 0;
  margin-bottom: 0;
}
.navbar {
  border: 0;
}
#navbar a {
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
  border-radius: 0;
}
#nav-expanded {
  margin-top: 0;
  background-color: #799091;
}
#nav-expanded ul.menu {
  margin: 10px 0;
}
#nav-expanded .container {
}
#nav-expanded a {
  color: #fff;
  text-transform: uppercase;
  padding: 3px 10px;
  float: right;
  clear: both;
}
#nav-expanded a:hover,
#nav-expanded a:active,
#nav-expanded a:focus {
  background-color: transparent;
} 
ul.secondary {
  border-bottom: 0;
  background-color: transparent;
  border-radius: 4px;
}
#navbar ul.secondary li {
  margin-left: 10px;
  display: block;
}
ul.secondary li.last {
  border: 0;
}
#navbar .navbar-collapse {
  padding: 0;
}
#navbar #search-form,
#navbar #search-form--2 {
  margin-bottom: 10px;
  margin-top: 0px;
  position: relative;
}
#navbar #search-form,
#navbar .search-form-header,
#navbar #search-form div,
#navbar #search-form--2,
#navbar #search-form--2 div,
#top-eff-header,
#eff-footer,
#top-eff-header div,
#language-switcher,
#language-switcher .language-switcher-label,
#language-switcher .region-language-switcher div {
  display: inline-block !important;
  width: auto; 
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
#navbar #search-form--2 label,
#navbar #search-form label {
  display: none;
}
#navbar #search-form #edit-basic .form-item-keys,
#navbar #search-form--2 #edit-basic .form-item-keys {
  margin: 0;
}
#navbar #search-form--2 #edit-keys--2,
#navbar #search-form #edit-keys {
  width: 136px;
  border: none;
  background-color: #fff;
  padding: 0px 6px;
  color: #7a9091;
  font-size: 11px;
  height: 15px;
  position: relative;
  top: -1px;
}
#navbar #search-form--2 #edit-keys--2:focus,
#navbar #search-form #edit-keys:focus {
  background-color: #fff;
  border: #7A9091 solid 1px;
  color: #7a9091;
}
#navbar #search-form--2 .form-submit,
#navbar #search-form .form-submit {
  font-size: 11px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: #fff;
  display: inline;
}
#nav-expanded .container {
  padding-right: 0px;
}
#nav-expanded ul.nav-primary {
  width: 85px;
  float: right;
  text-align: left;
}
#nav-expanded ul.nav-primary a {
  font-size: 12px;
  float: none;
  clear: none;
}

#nav-expanded ul.secondary {
  clear: both;
}
#nav-expanded ul.secondary li,
#nav-expanded ul.secondary li a {
  width: auto;
  display: inline;
  float: none;
  clear: none;
}
.search-form-header,
#language-switcher {
  border-right: 2px solid #fff;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
}
#language-switcher {
  padding-top: 10px;
  padding-bottom: 8px;  
}
.menu-hamburger {
  background: url(../img/hamburger.png) no-repeat right center;
  border: none;
  margin: 0;
  padding: 0 25px 0 5px;
  color: #7A9091;
  text-transform: uppercase;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}
#navbar .menu-hamburger:hover {
  background-color: transparent;
}
#top-eff-header,
#eff-footer {
  padding-right: 10px;
}
#top-eff-header a,
#eff-footer a{
  font-size: 11px;
  text-transform: uppercase;
  color: #627a7b;
}
#top-eff-header img,
#eff-footer img {
  margin-right: 5px;
  width: 30px;
  height: auto;
}
#language-switcher {
  text-transform: uppercase;
  font-size: 11px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
#language-switcher .language-switcher-label {
  color: #fff;
}
#language-switcher .region-language-switcher {
  display: none;
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: #ADBBBC;
  width: 150px;
  z-index: 300;
}
#language-switcher .language-switcher-locale-url {
  width: 150px;
}
#language-switcher:hover .region-language-switcher {
 display: block; 
}
.language-switcher-locale-url {
  text-align: center;
  margin-bottom: 0;
  padding: 0;
}
.language-switcher-locale-url li {
  list-style-type: none;
  display: block;
  padding: 0;
  text-align: left;
  margin: 0;
}
#navbar .container {
  padding: 0;
}
#navbar .language-switcher-locale-url li a {
  display: block;
  padding: 2px 6px;
}
#navbar .language-switcher-locale-url li a:hover,
#navbar .language-switcher-locale-url li.active a {
  background-color: #7a9091;
}
header .search-form {
  width: 170px;
}
/* Site logo display */
#top-logo {
  text-align: center;
  margin: 20px 0;
}

#top-logo-inner {
  max-width: 419px;
  margin: auto;
}
#top-logo img {
  margin: auto;
}

.container-main {
  background: #fff;
}
.container-full-width {
  width: 100%;
}
.container-full-width .region-content {
  padding: 1px 0;
  float: left;
  width: 100%;
}
/* Add light grey full width background to specific pages */
.front .container-full-width .region-content,
.page-index .container-full-width .region-content {
  background-color: #d5e0e0;
}
/* Push background div to appear under/in the middle of front slideshow. */
.front .container-full-width {
  padding-top: 130px;
}
.front .container-full-width .flexslider {
  position: relative;
  top: -130px;
}
.slogan {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: montserratregular;
  margin-bottom: 15px;
  font-size: 18px;
  color: #627a7b;
}
.page-index h1.page-header {
  color: #ADBBBC;
  text-transform: uppercase;
  font-size: 55px;
  margin-bottom: 0;
}
.field-name-body p img {
  text-align: center;
}
.field-name-body img,
.field-name-body p img {
  max-width: 650px;
  margin: 20px auto;
  display: block;
}
.field-name-body .glossify-link img,
.field-name-body p .glossify-link img {
  margin: 0;
  display: inline;
  padding-bottom: 8px;
  padding-left: 1px;
}
.view-site-map h3,
#block-views-site-map-block-1 h2 {
  color: #231F20;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: bold;
}
.view-site-map .views-field-title-field h3,
#block-views-site-map-block-1 h3 {
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
}
.view-site-map,
#block-views-site-map-block-1 {
  text-align: center;
}
.view-site-map .views-field-title-field h3 a,
.view-site-map .views-field-title-field h3 a {
  color: #637C7C;
}
.front .flex-nav-container {
  max-height: 130px;
}
.front .flexslider {
  border: none;
  min-height: 272px;
}
.front .flexslider h1,
.front .flexslider h2 {
  position: relative;
  z-index: 700;
  width: 100%;
  text-align: center;
  padding: 0 60px;
}
.front .flexslider h1 a,
.front .flexslider h2 a {
  color: #fff;
}
.front .flexslider h1 {
  font-size: 55px;
  margin-bottom: 0px;
  padding-top: 20px;
}
.front .flexslider h2 {
  font-size: 22px;
  font-family: montserratregular;
  font-weight: normal;
  margin-top: 0;
}
.front .flexslider .views-field-field-playlist-banner-bg img {
  position: absolute;
  top: 0;
  left: 0;
}
.front .flex-direction-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}
.flex-direction-nav a.flex-prev,
.flex-direction-nav a.flex-next {
  background-image: url(../img/slideshow-arrows.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 100px;
  text-indent: -9999px;
  text-align: left;
  position: absolute;
  top: 10%;
}
.front .flex-direction-nav a:before,
.front .flex-direction-nav a.flex-next:before {
  content: '';
}
.front .flex-direction-nav .flex-prev {
  background-position: left top;
  left: -40px;
}
.front .flex-direction-nav .flex-next {
  background-position: right top;
  right: -40px;
}
.front .flex-control-paging {
  display: none;
}
#block-feedback-form {
  bottom: 70px;
  left: 20px;
  right: auto;
}
.playlist-button:hover {
  background: #dddddd;
  cursor: pointer;
}

#playlist-table-slide .playlist-table ol {
  list-style-position: inside;
}

#playlist-table-slide .playlist-table ol li {
  position: relative;
}
#playlist-table-slide .playlist-table ol li a{
  position: absolute;
  left: 20px;
}

#playlist-controller {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 600;
  background: #5D7272;
  padding: 20px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  text-align: center;
  width: 150px;
  display: none;
}
#playlist-controller .playlist-table {
  text-align: left;
  color: #000;
  margin-top: 10px;
}
#playlist-controller .playlist-table a {
  color: #000;
  font-size: 14px;
}
#playlist-controller .playlist-table ol.playlist-table-of-contents {
  padding-left: 25px;
}
#playlist-controller .playlist-table .module-active {
  color: #d5e0e0;
}
#playlist-controller .playlist-table .module-active a {
  font-weight: bold;
  color: #d5e0e0;
}
#playlist-controller #playlist-next {
  display: inline-block;
  width: 40px;
  height: 30px;
  margin-right: 5px;
  text-indent: -9999px;
  background: url(../img/module-playlist-buttons.png) no-repeat left -36px;
  background-size: 180%;
  cursor: pointer;
}
#playlist-controller #playlist-more {
  display: inline-block;
  width: 40px;
  height: 30px;
  text-indent: -9999px;
  background: url(../img/module-playlist-buttons.png) no-repeat -33px -36px;
  background-size: 180%;
  cursor: pointer;
}
#playlist-controller #playlist-next:hover {
  background-position: left top;
}
#playlist-controller #playlist-more:hover {
  background-position: -33px top;
}
.playlist-table .playlist-table-of-contents li {
  margin: 10px 0;
  line-height: 1.1;
}

ul.slides {
  padding-left: 0;
  padding-right: 0;
}
ul.slides .playlist-table {
  padding-bottom: 50px;
}
.module-section {
  padding: 35px 0;
}
.module-section h2 {
  padding-top: 0;
  margin-top: 0;
}
.module-section:nth-child(even) {
  background-color: #d5e0e0;
}
.module-section h2 {
  text-align: left;
}
.module-section .module-section,
.module-section .module-section .container {
  display: inline;
  background-color: transparent;
  float: none;
  position: static;
  padding: 0;
  margin: 0;
}
h1,
.page-header {
  margin-top: 20px;
  text-align: center;
  border-bottom: none;
}
body.page-node .page-header {
  border-bottom: none;
}
ul.navbar-nav {
  margin-top: 20px;
  text-align: right;
}
ul.navbar-nav > li,
ul.secondary {
  margin: 0;
  padding: 0;
  border: none;
}
ul.navbar-nav > li > a {
  padding: 10px 10px 6px;
}
ul.secondary li a {
  padding: 8px 10px 5px;
  margin: 0;
  font-size: 14px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.nav-tabs {
  border-bottom: 0;
}
.field-metadata {
  background-color: #d5e0e0;
  padding: 15px 20px 10px;
  border-radius: 10px;
  max-width: 80%;
  margin: 35px auto;
  font-size: 80%;
  color: #38605F;
}
.field-summary {
  margin: 35px 0;
}
.glossify-link img {
  margin: 0;
  padding: 0;
  display: inline;
  max-width: none;
}
.tip {
 border: 6px solid #5D7272;
 border-radius: 10px;
 color: #5D7272;
 padding: 8px 15px 5px 80px;
 background-color: #fff;
 background-image: url('../img/icon-lightbulb.png');
 background-repeat: no-repeat;
 background-position: 8px 8px;
 min-height: 90px;
}
.warning {
 border: 6px solid #5D7272;
 border-radius: 10px;
 color: #5D7272;
 padding: 8px 15px 5px 80px;
 background-color: #fff;
 background-image: url('../img/icon-exclamation.png');
 background-repeat: no-repeat;
 background-position: 8px 8px;
 min-height: 90px;
}
footer.footer {
  background-color: #adbbbc;
  clear: both;
  padding: 10px;
}
.page-wrapper {
  padding-bottom: 50px;
}
.region-footer {
  margin-left: 50px;
}
.region-footer,
.region-footer #block-menu-menu-footer-links,
.region-footer .content,
.region-footer .content *,
.region-footer .content .nav:after,
.region-footer .content .nav:before {
  display: inline !important;
  clear: none;
}
.region-footer .content .nav a {
  padding: 0;
  background-color: transparent;
  color: #627a7b;
  font-size: 12px;
  text-transform: uppercase;
}
.region-footer .content .nav a:hover {
  background-color: transparent;
}

#block-views-front-page-block .content .content {
  max-width: 630px;
  margin: auto;
  font-size: 18px;
  color: #68797a;
  padding-bottom: 2em;
}

.view-glossary-list .views-field-name-field {
  font-weight: bold;
  font-size: 21px;
}
.view-glossary-list .views-field-description-field {
  margin-bottom: 2em;
}

body.not-logged-in .node ul.links {
  display: none;
}
body.logged-in .node ul.links.inline {
  display: inline-block;
  border: 1px dashed gray;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin: 1em;
}
body.logged-in .node ul.links.inline:before {
  content: 'Admin links: ';
}
#node-69 tbody {
  border-top: none;
}

.container.node-page, .term-listing-heading {
  padding-bottom: 2em;
}
