@import "bootstrap-custom";

@font-face {
  font-family: 'antonioregular';
  src: url('../fonts/antonio/antonio-regular-webfont.eot');
  src: url('../fonts/antonio/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/antonio/antonio-regular-webfont.woff') format('woff'),
        url('../fonts/antonio/antonio-regular-webfont.ttf') format('truetype'),
        url('../fonts/antonio/antonio-regular-webfont.svg#antonioregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: "montserratregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

a {
  color: #a10000;
}

a:hover {
  color: #a10000;
}
section {
  padding-top: 1px;
  padding-bottom: 1px;
}
.container {
  max-width: 1000px;
}
h1,
h2,
h3,
.navbar-default .navbar-nav > li > a {
  font-family: 'montserratbold';
  color: #A71010;
  font-weight: normal;
}

/* Remove bootstrap's navbar css */
.navbar {
  border: 0;
  background-color: #fff;
  border-color: #fff;
}

ul.secondary {
  border-bottom: 0;
  background-color: transparent;
  border-radius: 4px;
}
#navbar ul.secondary li {
  margin-left: 10px;
  display: block;
}
ul.secondary li.last {
  border: 0;
}
#navbar #search-form--2 label,
#navbar #search-form label {
  display: none;
}
#navbar #search-form--2 #edit-keys--2,
#navbar #search-form #edit-keys {
  width: 190px;
  border: #7A9091 solid 1px;
  background-color: #7A9091;
  padding: 0px 6px;
  color: #ddd;
}
#navbar #search-form--2 #edit-keys--2:focus,
#navbar #search-form #edit-keys:focus {
  background-color: #7A9091;
  border: #7A9091 solid 1px;
  color: #fff;
}
#navbar #search-form--2 .form-submit,
#navbar #search-form .form-submit {
  @extend .btn;
  text-indent: -9999px;
  background: url(../img/search.png) no-repeat left 4px;
  height: 30px;
}
.menu-hamburger {
  background: url(../img/hamburger.png) no-repeat 40px 5px;
  border: none;
  margin: 0;
  padding: 5px 25px 5px 5px;
  color: #7A9091;
  text-transform: uppercase;
}
#navbar .menu-hamburger:hover {
  background-color: #E8E8E8;
}
/* EFF Header */
#top-eff-header,
.menu-hamburger {
  font-size: 12px;
  font-family: antonioregular;
  text-transform: uppercase;
}
#top-eff-header {
  margin-top: 10px;
  display: block;
  float: left;
}
#top-eff-header a {
  color: #7A9091;
}
#top-eff-header img {
  margin-right: 5px;
}
#top-eff-header img {
  width: 30px;
  height: auto;
}

/* Site logo display */
#top-logo {
  text-align: center;
}

#top-logo-inner {
  max-width: 419px;
  margin: auto;
}
#top-logo img {
  margin: auto;
}

.container-main {
  background: #fff;
}

.slogan {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: montserratbold;
  margin-top: 20px;
}

.flexslider {
  /*margin-left: -20px;*/
}

.playlist-button:hover {
  background: #dddddd;
}

#playlist-controller {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 600;
  background: #5D7272;
  padding: 20px;
  border-radius: 20px;
}
#playlist-controller #playlist-table {

}
.language-switcher-locale-url {
  text-align: center;
}
.language-switcher-locale-url li {
  list-style-type: none;
  display: inline;
  padding: 0 10px;
}
.module-section:nth-child(even) {
  background-color: #d5e0e0;
}
h1,
.page-header {
  margin-top: 20px;
  text-align: center;
}
body.page-node .page-header {
  border-bottom: none;
}
#language-switcher {
  text-align: center;
}
ul.navbar-nav {
  font-size: 20px;
  margin-top: 20px;
}
ul.navbar-nav > li,
ul.secondary {
  margin: 0;
  padding: 0;
  border: none;
}
ul.navbar-nav > li > a {
  padding: 10px 10px 6px;
}
ul.secondary li a {
  padding: 8px 10px 5px;
  margin: 0;
  font-size: 14px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.nav-tabs {
  border-bottom: 0;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-nav > li {
    float: none;
  }
  ul.navbar-nav {
    float: none;
  }
}
