@font-face {
  font-family: 'antonioregular';
  src: url('../fonts/antonio/antonio-regular-webfont.eot');
  src: url('../fonts/antonio/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/antonio/antonio-regular-webfont.woff') format('woff'),
        url('../fonts/antonio/antonio-regular-webfont.ttf') format('truetype'),
        url('../fonts/antonio/antonio-regular-webfont.svg#antonioregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-regular-macroman/Montserrat-Regular-webfont.eot');
  src: url('../fonts/montserrat/montserrat-regular-macroman/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat-regular-macroman/Montserrat-Regular-webfont.woff') format('woff'),
        url('../fonts/montserrat/montserrat-regular-macroman/Montserrat-Regular-webfont.ttf') format('truetype'),
        url('../montserrat/montserrat-regular-macroman/Montserrat-Regular-webfont.svg#montserrat') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: montserrat;  
}

a {
  color: #a10000;
}

a:hover {
  color: #a10000;
}

.container {
  max-width: 1000px;
}

/* Remove bootstrap's navbar css */
.navbar {
  border: 0;
  background-color: #fff;
  border-color: #fff;
}

ul.secondary {
  border-bottom: 0;
  background-color: #f8f8f8;
  border-radius: 4px;
}

ul.secondary li.last {
  border: 0;
}

#top-eff-header {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 2px;
  padding-left: 15px;
  font-size: 22px;
  font-family: antonioregular;
  text-transform: uppercase;
}

#top-eff-header a {
  color: #a0a0a0;
}

#top-logo {
  text-align: center;
}

#top-logo img {
  margin: auto;
}

.container-main {
  background: #adbbbc;
}

.slogan {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: antonioregular;
}

.flexslider {
  margin-left: -20px;
}

